.card-side{
    background-color: #2c1d40;
    min-width: 100%;
}
.containerX{
    max-height: 400px;
    overflow-y: auto;
    min-width: 230px !important;
}
.media{
    box-shadow: 1px 1px 1px 1px black;
    min-width: 100% !important;
}
.media-body:hover{
background-color: purple !important;
}
.btn-secondary{
    font-size: 12px !important;
}
.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(100,62,148) 49%, rgba(100,62,148) 51%, rgba(100,62,148));
    background-repeat: repeat-x;
}
.gradient-buttons .btn:hover {
    background-image: linear-gradient(to bottom, rgba(10,10,10), rgba(255,255,255,.5) 69%, rgba(10,10,10) 51%, rgba(10,10,10));
    background-repeat: repeat-x;
}
h5{
    font-size: smaller;
    font-family: sans-serif;
    color: white;
}
